__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env/
*.log

# VSCode / IDE
.vscode/
.idea/

# LaTeX build files
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*.toc
*.synctex.gz
*.brf
*.bcf
*.xml

# License files
*.lic

# Archives
*.zip
